# When a new release is created on GitHub, this workflow builds RadarSDKFraud as an XCFramework,
# publishes CocoaPods update, and updates Package.swift.
name: RadarSDKFraud Release

on:
  # Triggered when a new release is tagged in GitHub.
  release:
    types: [ published ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:

  build:
    runs-on: macos-15

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Checkout radar-sdk-ios-fraud
        uses: actions/checkout@v4
        with:
          repository: radarlabs/radar-sdk-ios-fraud
          path: radar-sdk-ios-fraud
          token: ${{ secrets.SUBMODULESTOKEN }}

      - name: Use Xcode 16.4
        run: sudo xcode-select -switch /Applications/Xcode_16.4.app

      - name: Build archive for iPhone simulator (RadarSDKFraud)
        run: cd radar-sdk-ios-fraud && xcodebuild archive -scheme RadarSDKFraud -archivePath "../RadarSDKFraud-iphonesimulator.xcarchive" -sdk iphonesimulator SKIP_INSTALL=NO CODE_SIGN_IDENTITY= CODE_SIGNING_REQUIRED=NO

      - name: Build archive for iPhone device (RadarSDKFraud)
        run: cd radar-sdk-ios-fraud && xcodebuild archive -scheme RadarSDKFraud -archivePath "../RadarSDKFraud-iphoneos.xcarchive" -sdk iphoneos SKIP_INSTALL=NO CODE_SIGN_IDENTITY= CODE_SIGNING_REQUIRED=NO
      
      - name: Build XCFramework (RadarSDKFraud)
        run: xcodebuild -create-xcframework -framework RadarSDKFraud-iphonesimulator.xcarchive/Products/Library/Frameworks/RadarSDKFraud.framework -debug-symbols "$(pwd -P)"/RadarSDKFraud-iphonesimulator.xcarchive/dSYMs/RadarSDKFraud.framework.dSYM -framework RadarSDKFraud-iphoneos.xcarchive/Products/Library/Frameworks/RadarSDKFraud.framework -debug-symbols "$(pwd -P)"/RadarSDKFraud-iphoneos.xcarchive/dSYMs/RadarSDKFraud.framework.dSYM -output RadarSDKFraud.xcframework

      - name: Zip XCFramework (RadarSDKFraud)
        run: zip -r RadarSDKFraud.xcframework.zip RadarSDKFraud.xcframework -x ".*" -x "__MACOSX" -D

      - name: Upload XCFramework to release (RadarSDKFraud)
        uses: svenstaro/upload-release-action@v2
        with:
          file: RadarSDKFraud.xcframework.zip
      
      # get sha256 checksum of the XCFramework
      - name: Get SHA256 checksum (RadarSDKFraud)
        id: checksum_radarsdkfraud
        run: echo "checksum=$(shasum -a 256 RadarSDKFraud.xcframework.zip | cut -d ' ' -f 1)" >> $GITHUB_OUTPUT

      - name: Modify Package.swift and podspec
        run: |
          echo "Modifying Package.swift and RadarSDKFraud.podspec..."
          sed -i '' 's#url: "https://github.com/radarlabs/radar-sdk-ios-fraud-spm/releases/download/.*/RadarSDKFraud.xcframework.zip"#url: "https://github.com/radarlabs/radar-sdk-ios-fraud-spm/releases/download/${{ github.event.release.tag_name }}/RadarSDKFraud.xcframework.zip"#g' Package.swift
          sed -i '' 's#checksum: ".*"#checksum: "${{ steps.checksum_radarsdkfraud.outputs.checksum }}"#g' Package.swift
          sed -i '' "s/s.version[[:space:]]*=[[:space:]]*'[^']*'/s.version = '${{ github.event.release.tag_name }}'/" RadarSDKFraud.podspec

      - name: Check versions is not duplicate
        run: |
          VERSION=$(pod ipc spec RadarSDKFraud.podspec | jq -r .version)
          ! pod trunk info RadarSDKFraud | grep -q $VERSION
          echo "RadarSDKFraud version is OK"

      - name: Deploy to Cocoapods
        run: |
          set -eo pipefail
          gem install cocoapods
          pod lib lint --allow-warnings RadarSDKFraud.podspec
          pod trunk push --allow-warnings RadarSDKFraud.podspec
        env:
          COCOAPODS_TRUNK_TOKEN: ${{ secrets.COCOAPODS_TRUNK_TOKEN }}

      # open a pull request with the new sdk version
      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v6
        with:
          title: Automated radar-sdk-ios-fraud-spm version bump to ${{ github.event.release.tag_name }}
          token: ${{ secrets.GITHUB_TOKEN }}
          base: master
      # auto approve the pull request on behalf of code owner for automerge
      - name: Auto Approve Pull Request
        if: ${{ steps.cpr.outputs.pull-request-number }}
        uses: hmarr/auto-approve-action@v4
        with:
          pull-request-number: ${{ steps.cpr.outputs.pull-request-number }}
          github-token: ${{ secrets.AUTO_APPROVE_TOKEN }}
      - name: Enable Pull Request Automerge
        if: ${{ steps.cpr.outputs.pull-request-number }}
        run: gh pr merge --squash --auto ${{ steps.cpr.outputs.pull-request-number }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
